@page "/counter"

<h1>Counter</h1>
<p>Current Count: @currentCount</p>
<button class="btn btn-primary" @onclick="IncrementCount">Click Me</button>

<input type="number" @bind="currentCount" />

<MoviesList Movies="movies" />
<MoviesList />




@code {
    private List<Movie> movies;
    protected override void OnInitialized()
    {

        movies = new List<Movie>()
{
            new Movie(){Title = "Charlie", RealeaseDate = new DateTime(2019,2,2)},
              new Movie(){Title = "South Park Movie", RealeaseDate = new DateTime(2013,2,2)},
                new Movie(){Title = "Blow", RealeaseDate = new DateTime(1987,2,2)},

        };
    }
    private int currentCount = 0;
    private void IncrementCount()
    {
        currentCount++;
    }

}
