@page "/"

<p>Hello, @CustomToUpper(name)</p>

<p>Lets add 2 + 2 = @(2+2)</p>

<button @onclick="@WriteInLog">CLICK ME</button>


@code{
    string name = "Justin";

    string CustomToUpper(string value) => value.ToUpper();

    void WriteInLog()
    {

        Console.WriteLine("Ive been clicked in app");
    }
}