@page "/"


<div>
    <h3>Movies:</h3>
    <MoviesList Movies="movies">

    </MoviesList>

</div>


@code{
    private List<Movie> movies;
    protected async override Task OnInitializedAsync()
    {

        await Task.Delay(2000);
        movies = new List<Movie>()
{
            new Movie(){Title = "Charlie", RealeaseDate = new DateTime(2019,2,2)},
              new Movie(){Title = "South Park Movie", RealeaseDate = new DateTime(2013,2,2)},
                new Movie(){Title = "Blow", RealeaseDate = new DateTime(1987,2,2)},
        };
    }
}