@page "/"


    <div>
        <h3>Movies:</h3>
       <MoviesList Movies="movies" />

    </div>


@code{
    private List<Movie> movies;
    protected override void OnInitialized()
    {

        movies = new List<Movie>()
{
            new Movie(){Title = "Jumanji", RealeaseDate = new DateTime(2019,2,2)},
              new Movie(){Title = "Jurrasic Park", RealeaseDate = new DateTime(2013,2,2)},
                new Movie(){Title = "Jaws", RealeaseDate = new DateTime(1987,2,2)},

        };
    }
}